body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 11pt;
}

a:link,
a:visited {
    color: steelblue;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: tomato;
    color: white;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30pt;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    color: grey;
    line-height: 0;
}

hr {
    border: none;
    border-top: 1px dotted steelblue;
    height: 5px;
}

header {
    background: url("https://picsum.photos/id/415/5184/3456") no-repeat fixed;
    background-size: 100%;
    text-align: center;
    height: 500px;
    padding-top: 220px;
}

footer {
    text-align: center;
    margin-bottom: 40px;
}

#about {
    padding: 0 30vw 10% 30vw;
    min-width: 300px;
}

#portfolio {
    background-color: white;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.5;
    width: 160px;
    height: 160px;
}

#contact {
    background-color: white;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    opacity: 0.5;
    width: 160px;
    height: 160px;
}

.colorSquares {
    width: 10px;
    height: 10px;
    position: fixed;
    top: 190px;
    transform: translateY(30px);
}

#goldSquare {
    left: 150px;
    background-color: gold;
    transition: 2.2s all ease;
}

#tomatoSquare {
    left: 170px;
    background-color: tomato;
    transition: 1.5s all ease;
}

#blueSquare {
    left: 190px;
    background-color: steelblue;
    transition: 0.8s all ease;
}

.flex-container {
    flex-direction: column;
    width: 100vw;
}

.gallery-flex {
    display: flex;
}

.gallery-wrap {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    transform: translateY(-300px);
    transition: 1s all ease;
}

.gallery {
    min-width: 0;
    overflow: hidden;
    position: relative;
}

img {
    width: 200px;
}

a + p {
    text-align: center;
}

.container {
    margin: auto;
    max-width: 700px;
    width: 80vw;
    line-height: 2;
}

form>span {
    margin-right: 20px;
}

.flex {
    display: flex;
}

.flex--column {
    flex-direction: column;
}