/* Whole document styles entire website */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 11pt;
    padding: 0;
    margin: 0;
}

a:link,
a:visited {
    color: steelblue;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: tomato;
    color: white;
}

/* Home page */

.index {
    background: url("https://picsum.photos/id/415/5184/3456") no-repeat fixed;
    background-size: cover;
}

#about {
    padding: 0 30vw 0 30vw;
    min-width: 250px;
}

/* Contact form */

.contact-form {
    background: url("https://picsum.photos/id/160/3200/2119") no-repeat fixed;
    background-size: cover;
    background-position-y: bottom;
}

.contact-form h1 {
    color: white;
}

#profile {
    position: fixed;
    left: 180px;
    top: 50px;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background-image: url("../images/profile.jpg");
    background-size: cover;
    border: 5px solid white;
    z-index: 3;
}

/* Blog page */

.blog {
    background: url("https://picsum.photos/id/173/1200/737") no-repeat fixed;
    background-size: cover;
}

.blog-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Nav Bar */

nav {
    height: 200px;
}

#portfolio {
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    /* opacity: 0.6; */
    width: 160px;
    height: 160px;
    z-index: 2;
}

#contact {
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    /* opacity: 0.6; */
    width: 160px;
    height: 160px;
    z-index: 3;
}

#contact hr {
    border: none;
    border-top: 1px dotted steelblue;
    height: 5px;
}

figure {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    border: thin white solid;
    padding: 5px;
    margin: 10px;
}

nav>figure {
    font-style: inherit;
}

/* Nav ENDS */

figure>a>img {
    width: 200px;
    height: 200px;
}

/* Color squares on left */

#goldSquare {
    width: 10px;
    height: 10px;
    position: fixed;
    background-color: gold;
    left: 160px;
    top: 200px;
    transform: translateY(30px);
    transition: 2.2s all ease;
    z-index: 999;
}

#tomatoSquare {
    width: 10px;
    height: 10px;
    position: fixed;
    background-color: tomato;
    left: 180px;
    top: 200px;
    transform: translateY(30px);
    transition: 1.5s all ease;
    z-index: 999;
}

#blueSquare {
    width: 10px;
    height: 10px;
    position: fixed;
    background-color: steelblue;
    left: 200px;
    top: 200px;
    transform: translateY(30px);
    transition: 0.8s all ease;
    z-index: 999;
}

/* Color squares ENDS */


/* Contact form styles */

.contact-form input, select, textarea {
    opacity: 0.4;
}

.contact-form textarea {
    row:
}

.contact-form #marketing, input[type="submit"], input[type="reset"], input[type="radio"]  {
    opacity: 0.7;
}

.contact-form > .container {
    color: lightgray;
}

/* Element styles */

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30pt;
    text-align: center;
    padding-top: 20px;
}

h2, .navTitles {
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    color: grey;
    line-height: 0;
}

li {
    list-style: none;
}

/* Main sections styles */

#mainHeader {
    text-align: center;
    padding-bottom: 90px;
}

footer {
    padding: 50px;
    text-align: center;
}

footer p:first-child {
    font-size: 18pt;
}

header > p > a {
    line-height: 1.2;
    font-size: 24pt;
    color: steelblue;
    /* opacity: 0.6; */
}

/* Gallery container and styles */

.container {
    margin: auto;
    padding: 20px;
    min-width: 200px;
    max-width: 750px;
    line-height: 2;
}

.flex-container {
    flex-direction: column;
    width: 100vw;
    z-index: 1;
}

.gallery-flex {
    display: flex;
}

.gallery-flex img {
    width: 200px;
}

.gallery-slide {
    transform: translateY(-100px);
    transition: 1s all ease;
}

.gallery {
    min-width: 0;
    overflow: hidden;
}

.gallery>a, .gallery>a:visited {
    color: black;
}

.gallery>a:hover {
    background: none;
}

/* Contact form */

.flex {
    display: flex;
}

.flex--justify {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex--column {
    flex-direction: column;
}

.flex--end {
    justify-content: flex-end;
}

form>span {
    margin-right: 20px;
}

input {
    max-width: 200px;
}

/* Nav bar blog */

nav>ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#dropdown {
    display: none;
    position: absolute;
}

li:focus #dropdown {
    display: block;
}

li:hover #dropdown {
    display: block;
}

/* Blog page */

#blog-header-image {
    background-image: url("https://picsum.photos/id/160/3200/2119") no-repeat fixed;
    background-size: cover;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Misc styles */

a, a + p {
    text-align: center;
}

p>a {
    line-height: 1;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.5;
}

/* @media */
/* 
@media screen and (min-width: 960px) {
    body {
        display: grid;
        grid-template-columns: 12rem auto;
        grid-template-rows: min-content auto auto min-content;
        grid-template-areas:
            "navigation header"
            "navigation main"
            "navigation main"
            "navigation footer";
    }

    nav {
        grid-area: navigation;
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }
} */